/* LOGIN FORM */

body.login {
    background: #eee;
} 

.login #container, #company_info {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.login #content-main {
    width: 100%;
    position: relative;
}

#company_logo {
    height: 110px;
    position: absolute; 
    top: -205px;
    background-image: url('/var/www/graphics/images/logo.png'); background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 15px 0 15px 0;
    width: 100%;
}

#company_info {
    margin-top: 15px;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    float: left;
    width: 8em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14.15em;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 8.2em;
}

.login .password-reset-link {
    text-align: center;
}



.sso-form > p{
    margin-top: 10px;
}

.sso-form table td input{
    margin: 0;
}

.sso-form table td, .sso-form table th{
    border: none;
}